{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Sortir{% endblock %}

{% block body %}
    <div class="container-fluid m-0 p-0 min-vh-100">
        <div class="container-fluid bg-dark m-0">
            <div class="container">
                <div class="row justify-content-end text-end text-blue-light mx-2">
                        <p class=""><i class="bi bi-calendar-event"></i> {{ "now"|date("d/m/Y") }}</p>
                        <p class=""><i class="fas fa-user-circle"></i> {{ app.user.username }}</p>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-light m-0">
            <div class="container my-2">
                <h3 class="mb-3">Filtrer les sorties</h3>

                {{ form_start(filterForm) }}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row mb-2">
                                <div class="col-md-2 col-form-label">
                                    {{ form_label(filterForm.campus) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(filterForm.campus) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-2 col-form-label">
                                    {{ form_label(filterForm.name) }}
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        {{ form_widget(filterForm.name) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-1 col-form-label">
                                    Entre
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        {{ form_widget(filterForm.dateStart) }}
                                    </div>
                                </div>

                                <div class="col-md-1 col-form-label">
                                    et
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        {{ form_widget(filterForm.dateEnd) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isOrganiser) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isOrganiser) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isParticipant) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isParticipant) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isNotParticipant) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isNotParticipant) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.past) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.past) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 row my-2 align-items-center">
                            <button class="btn btn-lg btn-blue-light">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(filterForm) }}
            </div>
        </div>

        <div class="container my-2">
            <ul class="container-fluid list-group-flush">
            {% for trip in trips %}
                <li class="d-flex list-group-item my-2">
                    <div>{{ trip.name }}</div>
                    <div>{{ trip.dateTimeStart|date('d/m/Y H:i') }}</div>
                    <div>{{ trip.dateLimitForRegistration|date('d/m/Y') }}</div>
                    <div>{{ trip.participants|length }}/{{ trip.maxRegistrationNumber }}</div>
                    <div>{{ trip.state.wording }}</div>
                    <div></div>
                    <div>{{ trip.organiser.username }}</div>
                    <div><a href="{{ path('trip_getDetail', {id:trip.id}) }}">Afficher</a></div>
                </li>
            {% else %}

                <div class=>Aucun résultat ne correspond à votre recherche!</div>

            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
