{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/paginations/listTripPagination.js') }}"></script>
{% endblock %}

{% block title %}{{ parent() }}Sortir{% endblock %}

{% block body %}
    <div class="container-fluid m-0 p-0 min-vh-100">
        <div class="container-fluid bg-dark m-0">
            <div class="container">
                <div class="row justify-content-end text-end text-blue-light mx-2">
                        <p class=""><i class="bi bi-calendar-event"></i> {{ "now"|date("d/m/Y") }}</p>
                        <p class=""><i class="fas fa-user-circle"></i> {{ app.user.username }}</p>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-light m-0">
            <div class="container my-4 bg-light">
                <h3 class="mb-3">Filtrer les sorties</h3>

                {{ form_start(filterForm) }}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row mb-2">
                                <div class="col-md-2 col-form-label">
                                    {{ form_label(filterForm.campus) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(filterForm.campus) }}
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-2 col-form-label">
                                    {{ form_label(filterForm.name) }}
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        {{ form_widget(filterForm.name) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-1 col-form-label">
                                    Entre
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        {{ form_widget(filterForm.dateStart) }}
                                    </div>
                                </div>

                                <div class="col-md-1 col-form-label">
                                    et
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        {{ form_widget(filterForm.dateEnd) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isOrganiser) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isOrganiser) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isParticipant) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isParticipant) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.isNotParticipant) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.isNotParticipant) }}
                                </div>
                            </div>

                            <div class="form-check mb-2">
                                {{ form_widget(filterForm.past) }}
                                <div class="form-check-label">
                                    {{ form_label(filterForm.past) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 row my-2 align-items-center">
                            <button class="btn btn-lg btn-blue-light">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(filterForm) }}
            </div>
        </div>

        <div class="container my-5">
            {% for trip in trips %}
                <!--<li class="d-flex list-group-item my-2">
                    <div>{{ trip.name }}</div>
                    <div>{{ trip.dateTimeStart|date('d/m/Y H:i') }}</div>
                    <div>{{ trip.dateLimitForRegistration|date('d/m/Y') }}</div>
                    <div>{{ trip.participants|length }}/{{ trip.maxRegistrationNumber }}</div>
                    <div>{{ trip.state.wording }}</div>
                    <div></div>
                    <div>{{ trip.organiser.username }}</div>
                    <div><a href="{{ path('trip_getDetail', {id:trip.id}) }}">Afficher</a></div>
                </li>-->

                <section class="home-trip card container-fluid bg-dark text-white my-3">
                    <article class="card-body">
                        <div class="home-trip-title card-title d-flex justify-content-between">
                            <h5 class="col-7 text-left">{{ trip.name }}</h5>
                            <span class="col-2 text-center"> à partir du {{ trip.dateTimeStart|date('d/m/Y') }} à {{ trip.dateTimeStart | date('H:i') }}</span>
                            <span class="col-2 text-right home-wording">Etat : {{ trip.state.wording }}</span>
                        </div>
                        <div class="card-subtitle home-trip-subtitle mb-2 d-flex justify-content-between">
                            <span class="col-7 text-left">Organisateur : {{ trip.organiser.username }}</span>
                            <span class="col-2 text-center">Inscrits : {{ trip.participants|length }}/{{ trip.maxRegistrationNumber }}</span>
                            <span class="col-2 text-right home-wording">Fin d'inscription le {{ trip.dateLimitForRegistration|date('d/m/Y') }}</span>
                        </div>
                        <p class="card-text">{{ trip.details }}</p>
                        <div class="d-flex justify-content-between">

                            <div>
                                <a href="{{ path('trip_getDetail', {id:trip.id}) }}" class="btn btn-blue-light"><i class="fas fa-eye"></i> Afficher</a>
                                {% if app.user == trip.organiser %}
                                    {% if trip.state.wording == 'Créée' %}
                                        <a href="#" class="btn btn-blue-light"><i class="fas fa-upload"></i> Publier</a>
                                    {% endif %}
                                    <a href="#" class="btn btn-blue-light"><i class="fas fa-pen"></i> Modifier</a>
                                {% endif %}
                            </div>
                            <div>
                                {% if app.user not in trip.participants %}
                                    <a href="{{ path('trip_registerForATrip', {id:trip.id}) }}" class="btn btn-blue-light"><i class="fas fa-door-open"></i> S'inscrire</a>
                                {% else %}
                                    <a href="{{ path('trip_getDetail', {id:trip.id}) }}" class="btn btn-blue-light"><i class="fas fa-sign-out-alt"></i> Se désister</a>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                </section>
            {% else %}
                <div class="text-center">Aucun résultat ne correspond à votre recherche!</div>
            {% endfor %}

            <nav aria-label="navigate list trips" class="mb-1 mt-2">
                <ul class="pagination">
                    {% if (currentPage > 1) %}
                        <li class="page-item">
                            <a class="page-link page-inactive" href="{{ path('main_home', {'page': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page-inactive" href="{{ path('main_home', {'page': currentPage-1}) }}"><i class="fas fa-angle-left"></i></a>
                        </li>
                    {% endif %}

                    {% for num in currentPage-2..currentPage+2 %}
                        {% if (num > 0 and num <= totalPages) %}
                            <li class="page-item">
                                <a class="page-link {% if (num==currentPage) %}text-white page-active{% else %}page-inactive{% endif %}"
                                   href="{{ path('main_home', {'page': num}) }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if (currentPage < totalPages) %}
                        <li class="page-item">
                            <a class="page-link page-inactive" href="{{ path('main_home', {'page': currentPage+1}) }}"><i class="fas fa-angle-right"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page-inactive" href="{{ path('main_home', {'page': totalPages}) }}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
