{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modifier le profil{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center mb-5 mt-5">Gérer mon profil !</h1>
        <article class="d-flex justify-content-center col-12 mb-5">
            {% if app.user.pictureFileName %}
            <div class="col-3 mr-2"><img class="col-12" alt="photo" src="{{ asset('img/profile/small/'~app.user.pictureFileName ) }}"></div>
            {% else %}
            <div class="col-3 mr-2"><img class="col-12" alt="photo" src="https://zupimages.net/up/21/14/2yq6.jpg"></div>
            {% endif %}
            <div class="col-6 ml-5" id="formProfil">
                {{ form_start(profilForm) }}
                {{ form_widget(profilForm) }}
                <div class="mt-5 d-flex justify-content-between">
                    <button class="btn btn-blue-light col-5 mr-5">Sauvegarder</button>
                    <a class="btn-success btn col-5 ml-5" href="{{ path('profil_show', {id:app.user.id}) }}">Annuler</a>
                </div>
                {{ form_end(profilForm) }}
            </div>
        </article>
    </section>
{% endblock %}