{% extends 'base.html.twig' %}

{% block javascripts %}
    {#<script src="{{ asset('js/ajax/locationsFromCity.js') }}"></script>#}
    <script src="{{ asset('js/ajax/tripForm.js') }}"></script>
{% endblock %}

{% block title %}{{ parent() }} Créer une sortie{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center mb-5 mt-5">Créer une sortie !</h1>
        <article id="formTrip" class="mb-5">
            {{ form_start(tripForm) }}
            <aside class="d-flex justify-content-between">
                <div class="col-md-6 col-12">
                    {{ form_row(tripForm.name) }}
                    {{ form_row(tripForm.dateTimeStart) }}
                    {{ form_row(tripForm.dateLimitForRegistration) }}
                    {{ form_row(tripForm.maxRegistrationNumber, {'type':'number'}) }}
                    {{ form_row(tripForm.duration, {'type':'number'}) }}
                    {{ form_row(tripForm.details) }}
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-group">
                        <span>Campus :</span><span>{{ app.user.campus.name }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_row(tripForm.city) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(tripForm.location) }}
                    </div>
                    <div id="location-infos">
                        <div class="form-group">
                            Rue :<span id="street">{{ location is not null ? location.street : '' }}</span>
                        </div>
                        <div class="form-group">
                            Code Postal :<span id="zipCode">{{ location is not null ? location.city.zipCode : '' }}</span>
                        </div>
                        <div class="form-group">
                            Latitude :<span id="latitude">{{ location is not null ? location.latitude : '' }}</span>
                        </div>
                        <div class="form-group">
                            Longitude :<span id="longitude">{{ location is not null ? location.longitude : '' }}</span>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="mt-5 d-flex justify-content-between align-items-center trip_buttons">
                <div class="col-4 mr-5">
                    {{ form_row(tripForm.create) }}
                </div>
                <div class="col-4 mr-5">
                    {{ form_row(tripForm.publish) }}
                </div>
                <a class="btn btn-blue-light-retour col-3 ml-5" href="{{ path('main_home') }}">Annuler</a>
            </div>
            {{ form_end(tripForm) }}
        </article>
    </section>
    <section class="container">

    </section>
{% endblock %}