{% extends 'base.html.twig' %}

{% block title %}
    {% if tripDetail is null %}
        sortie non consultable
    {% else %}
        {{ parent() }} {{ tripDetail.name }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-light px-5 py-5 min-vh-100">

        {% if tripDetail is null %}
            <h2 class="text-center mb-5">Désolé, cette sortie n'est plus consultable</h2>

        {% else %}
            <h2 class="text-center mb-5">{{ tripDetail.name }}</h2>
            <div class="row justify-content-around">
                <div class="col-sm-12 col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Nom de la sortie:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.name }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Date et heure de la sortie:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.dateTimestart | date("d/m/Y") }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Date limite d'inscription:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.dateLimitForRegistration | date("d/m/Y") }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Nombre de places:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.participants | length }}/{{ tripDetail.maxRegistrationNumber }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Durée:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.duration }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Description et infos:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.details }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Campus:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.organiserCampus.name }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Lieu:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.location.name }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Rue:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.location.street }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Code postal:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.location.city.zipCode }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Latitude:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.location.latitude }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-4">
                                Longitude:
                            </div>
                            <div class="col-8">
                                {{ tripDetail.location.longitude }}
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="trip_organisateur" class="col-sm-12 col-md-4 mt-5">
                    <h5 class="mb-2 pt-3">Organisateur</h5>
                    <a href="{{ path('profil_show', {id:tripDetail.organiser.id}) }}"><li class="list-group-item d-flex">
                        <div class="col-6">
                            {{ tripDetail.organiser.username }}
                        </div>
                        <div class="col-6">
                            {{ tripDetail.organiser.firstName }} {{ tripDetail.organiser.lastName }}
                        </div>
                    </li></a>

                    {% if tripDetail.participants is not null %}
                        <h5 class="mb-2 pt-5">Liste des participants</h5>
                            <ul id="table-head-participants" class="list-group">
                                <li class="list-group-item d-flex" id="participants-list-head">
                                    <div class="col-6">
                                        Pseudo
                                    </div>
                                    <div class="col-6">
                                        Nom
                                    </div>
                                </li>
                            </ul>
                            <ul id="table-participants" class="participants-list list-group">
                            {% for participant in tripDetail.participants %}
                                <a href="{{ path('profil_show', {id:participant.id}) }}"><li class="list-group-item d-flex">
                                    <div class="col-6">
                                        {{ participant.username }}
                                    </div>
                                    <div class="col-6">
                                        {{ participant.firstName }} {{ participant.lastName }}
                                    </div>
                                </li></a>
                            {% endfor %}
                            </ul>
                    {% endif %}
                    {% if tripDetail.organiser.username == app.user.username %}
                        <div class="my-4 d-flex justify-content-between">
                            <a class="btn btn-blue-light col-5" href="{{ path('trip_cancel', {id:tripDetail.id}) }}">Annuler</a>
                            <a class="btn btn-blue-light col-5" href="{{ path('trip_modify', {id:tripDetail.id}) }}">Modifier</a>
                        </div>
                    {% endif %}
                </div>

            </div>

        {% endif %}
    </div>
{% endblock %}
