{% extends 'base.html.twig' %}

{% block title %}Trip Detail{% endblock %}

{% block body %}
    <div class="container-fluid bg-light">
        <div class="container my-2">
            <div>
                <ul>
                    <li>Nom de la sortie: {{ tripDetail.name }}</li>
                    <li>Date et heure de la sortie: {{ tripDetail.dateTimestart | date("d/m/Y") }}</li>
                    <li>Date limite d'inscription: {{ tripDetail.dateLimitForRegistration | date("d/m/Y") }}</li>
                    <li>Nombre de places: {{ tripDetail.maxRegistrationNumber }}</li>
                    <li>Durée: {{ tripDetail.duration }}</li>
                    <li>Description et infos: {{ tripDetail.details }}</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Campus: {{ tripDetail.organiserCampus.name }}</li>
                    <li>Lieu: {{ tripDetail.location.name }}</li>
                    <li>Rue: {{ tripDetail.location.street }}</li>
                    <li>Code postal: {{ tripDetail.location.city.zipCode }}</li>
                    <li>Latitude: {{ tripDetail.location.latitude }}</li>
                    <li>Longitude: {{ tripDetail.location.longitude }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
