<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Montserrat:wght@500&display=swap">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('img/patoune-favicon.png') }}">

        {% block stylesheets %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="{{ asset('js/modal.js') }}" loaded></script>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="bg-light">
    <header class="sticky-top">
        <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark mx-0 ">
            <div class="container">
                <a class="navbar-brand" href="{{ path('main_home') }}">
                    <img src="{{ asset('img/logo_sortir.png') }}" alt="Logo Sortir.com" class="d-inline-block align-top logo" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">

                    </ul>
                    <div class="navbar-nav justify-content-end">
                        <ul class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="btn link-blue-light" aria-current="page" href="{{ path('main_home') }}">
                                    <i class="fas fa-home"></i> Accueil
                                </a>
                                {%  if app.user %}
                                    <a class="btn link-blue-light" aria-current="page" href="{{ path('profil_show', {id: app.user.id }) }}">
                                    <i class="fas fa-user-circle"></i> Mon Profil
                                    </a>
                                {% endif %}
                            </li>
                            <li class="nav-item">
                                {%  if app.user %}
                                    <a class="btn btn-blue-light-nav" aria-current="page" href="{{ path('app_logout') }}">
                                        <i class="fas fa-user-slash"></i> Déconnexion
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="bg-transparent">
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="message-flash alert alert-{{ label }} text-center" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer class="container-fluid pt-2 bg-dark">
        <div class="container pt-2">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-link"><a href="{{ path('main_about_us') }}" class="link-blue-light">Qui sommes-nous?</a></li>
                        <li class="nav-link"><a href="{{ path('main_cgu') }}" class="link-blue-light">CGU</a></li>
                        <li class="nav-link"><a href="{{ path('main_legal_notice') }}" class="link-blue-light">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center pb-3 text-white">
            <p class="mb-0">Logo par <a href="https://dribbble.com/shots/5365011-dog-paw-logo-design" class="link-blue-light">Deividas Bielskis</a></p>
            <p>&copy; Sortir {{ "now"|date("Y") }}</p>
        </div>
    </footer>

    {# Fenêtre modale servant à afficher des infos à l'utilisateur #}
    <button type="button" id="launch-modal-info" data-bs-toggle="modal" data-bs-target="#modal-info" hidden>
    </button>
    <div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="modal-info-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-info-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-info-body">
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
